---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        <p>This is the about page.</p>
    </section>
</BaseLayout>
