---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "HI";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="main-info">
        <h1>Anshu Pathak</h1>
        <div class="lower-info">
            <p>
                Software Engineering Student <br />
                Based in Pennsylvania, USA <br />
                Expected Graduation: 2029
            </p>
            <div class="nonexpanding-img-container">
                <img src="https://placehold.co/320x160" alt="TODO: EMPTY" />
            </div>
        </div>
    </div>

    <h2>Lorem</h2>

    <div class="section-grid">
        <div class="section-text">
            <h3>Lorem</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas egestas lacinia maximus. Nulla vulputate tellus sed
                sapien mattis, ac pulvinar est consequat. In hac habitasse
                platea dictumst. In hac habitasse platea dictumst. Maecenas
                rhoncus, diam ac cursus ultricies, mi mi faucibus diam, eget
                lobortis metus enim eu leo. Donec consectetur, enim sit amet
                faucibus ornare, lorem turpis efficitur tortor, sollicitudin
                finibus lorem velit id tellus. Mauris et pellentesque dolor.
            </p>
        </div>
        <div class="section-img">
            <img src="https://placehold.co/600x400" alt="TODO: Lorem image" />
        </div>
    </div>

    <div class="section-grid">
        <div class="section-text">
            <h3>Ipsum</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas egestas lacinia maximus. Nulla vulputate tellus sed
                sapien mattis, ac pulvinar est consequat. In hac habitasse
                platea dictumst. In hac habitasse platea dictumst. Maecenas
                rhoncus, diam ac cursus ultricies, mi mi faucibus diam, eget
                lobortis metus enim eu leo. Donec consectetur, enim sit amet
                faucibus ornare, lorem turpis efficitur tortor, sollicitudin
                finibus lorem velit id tellus. Mauris et pellentesque dolor.
            </p>
        </div>
        <div class="section-img">
            <img src="https://placehold.co/600x400" alt="TODO: Ipsum image" />
        </div>
    </div>

    <div class="section-grid">
        <div class="section-text">
            <h3>Dolor</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas egestas lacinia maximus. Nulla vulputate tellus sed
                sapien mattis, ac pulvinar est consequat. In hac habitasse
                platea dictumst. In hac habitasse platea dictumst. Maecenas
                rhoncus, diam ac cursus ultricies, mi mi faucibus diam, eget
                lobortis metus enim eu leo. Donec consectetur, enim sit amet
                faucibus ornare, lorem turpis efficitur tortor, sollicitudin
                finibus lorem velit id tellus. Mauris et pellentesque dolor.
            </p>
        </div>
        <div class="section-img">
            <img src="https://placehold.co/600x400" alt="TODO: Dolor image" />
        </div>
    </div>

    <h2>Ipsum</h2>
</BaseLayout>
