---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        <p>Welcome to my portfolio!</p>
        <img src="/favicon.svg" alt="Astro Logo" />
    </section>
    <section class="col-container">
        <article class="col-item">
            <h3 class="vertical-col-h">lorem</h3>
            <p class="vertical-col-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </article>
        <article class="col-item">
            <h3 class="vertical-col-h">lorem</h3>
            <p class="vertical-col-p">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </article>
        <article class="col-item">
            <h3 class="vertical-col-h">lorem</h3>
            <p class="vertical-col-p">
                Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.
            </p>
        </article>
        <article class="col-item">
            <h3 class="vertical-col-h">lorem</h3>
            <p class="vertical-col-p">
                Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.
            </p>
        </article>
    </section>
</BaseLayout>
