---
import BaseLayout from "../Layouts/BaseLayout.astro";
const pageTitle = "Home";
---

<BaseLayout>
    <!-- astro <slot /> -->
    <main>
        <h1>{pageTitle}</h1>
        Index section stuff
    </main>
</BaseLayout>
