---
import BaseLayout from "../layouts/BaseLayout.astro";
/* import BaseLayout from '../layouts/BaseLayout.astro' */
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        <p>
            Welcome to my portfolio! This is a simple starter kit built with
            Astro.
        </p>
        <img
            src="/assets/Thomas_C._Lea_III_-_That_Two-Thousand_Yard_Stare_-_Original.jpg"
            alt="The Two-Thousand Yard Stare painting by Thomas Lea"
        />
    </section>
</BaseLayout>
