---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>

    <h1>Anshu Pathak</h1>
    <p>Software Engineering Student, Meadville, PA, Class of 2029</p>
    <hr />

    <h2>Lorem</h2>
    <h3>Lorem</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        egestas lacinia maximus. Nulla vulputate tellus sed sapien mattis, ac
        pulvinar est consequat. In hac habitasse platea dictumst. In hac
        habitasse platea dictumst. Maecenas rhoncus, diam ac cursus ultricies,
        mi mi faucibus diam, eget lobortis metus enim eu leo. Donec consectetur,
        enim sit amet faucibus ornare, lorem turpis efficitur tortor,
        sollicitudin finibus lorem velit id tellus. Mauris et pellentesque
        dolor.
    </p>

    <h3>Ipsum</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        egestas lacinia maximus. Nulla vulputate tellus sed sapien mattis, ac
        pulvinar est consequat. In hac habitasse platea dictumst. In hac
        habitasse platea dictumst. Maecenas rhoncus, diam ac cursus ultricies,
        mi mi faucibus diam, eget lobortis metus enim eu leo. Donec consectetur,
        enim sit amet faucibus ornare, lorem turpis efficitur tortor,
        sollicitudin finibus lorem velit id tellus. Mauris et pellentesque
        dolor.
    </p>

    <h3>Dolor</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        egestas lacinia maximus. Nulla vulputate tellus sed sapien mattis, ac
        pulvinar est consequat. In hac habitasse platea dictumst. In hac
        habitasse platea dictumst. Maecenas rhoncus, diam ac cursus ultricies,
        mi mi faucibus diam, eget lobortis metus enim eu leo. Donec consectetur,
        enim sit amet faucibus ornare, lorem turpis efficitur tortor,
        sollicitudin finibus lorem velit id tellus. Mauris et pellentesque
        dolor.
    </p>

    <h2>Ipsum</h2>
</BaseLayout>
