---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        <p>Welcome to my portfolio!</p>
        <img src="/favicon.svg" alt="Astro Logo" />
    </section>
</BaseLayout>
