---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>Projects</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam deleniti
        dolore vel, iusto minima incidunt autem molestias repellat nemo fuga
        eius nostrum dicta praesentium accusamus consequatur culpa excepturi
        nulla distinctio.
    </p>
    <section class="projects-section">
        <div class="project-card">
            <div class="section-grid">
                <div class="section-text">
                    <h3>Lorem</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Dolor voluptate, quisquam cumque deleniti consequatur,
                        magnam consequatur, voluptate quisquam cumque deleniti
                        consequatur, magnam consequatur, voluptate quisquam
                        cumque deleniti consequatur, magnam consequatur,
                        voluptate quisquam cumque
                    </p>
                </div>
                <div class="section-img">
                    <img src="http://placehold.co/600x400" />
                </div>
                <div class="section-text">
                    <h3>Lorem</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Dolor voluptate, quisquam cumque deleniti consequatur,
                        magnam consequatur, voluptate quisquam cumque deleniti
                        consequatur, magnam consequatur, voluptate quisquam
                        cumque deleniti consequatur, magnam consequatur,
                        voluptate quisquam cumque
                    </p>
                </div>
                <div class="section-img">
                    <img src="http://placehold.co/600x400" />
                </div>
                <div class="section-text">
                    <h3>Lorem</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Dolor voluptate, quisquam cumque deleniti consequatur,
                        magnam consequatur, voluptate quisquam cumque deleniti
                        consequatur, magnam consequatur, voluptate quisquam
                        cumque deleniti consequatur, magnam consequatur,
                        voluptate quisquam cumque
                    </p>
                </div>
                <div class="section-img">
                    <img src="http://placehold.co/600x400" />
                </div>
            </div>
        </div>
    </section>
    <div class="project-card"></div>
</BaseLayout>
