---
const navItems = [
    { label: "Home", href: "/" },
    { label: "Projects", href: "/projects" },
    { label: "About", href: "/about" },
    { label: "Contact", href: "/contact" },
];
---

<nav aria-label="Main Navigation">
    <ul id="nav-list">
        {
            navItems.map((item) => (
                <li>
                    <a class="nav-link" href={item.href}>
                        {item.label}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
