<div id = "menu" class = "nav">
    <a href = "/">Home</a>
    <a href = "/about">About</a>
    <label class = "mode-toggle">
        <input type = "checkbox" id = "dark-mode-toggle" name = "toggle" />
        <span class = "slider">adfiejf</span>
    </label>
</div>