---
const { ProjectName, Image, ImageAlt, Skills } = Astro.props;
---

<div class="section-grid">
    <div class="section-text">
        <h3>{ProjectName}</h3>
        <slot />
    </div>
    <div class="section-img">
        <img src={Image} alt={ImageAlt} />
    </div>
    <div class="skills-list">
        {
            Skills.split(",").map((skill: string) => (
                <span class="skill-tag">{skill.trim()}</span>
            ))
        }
    </div>
</div>
